<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>569547596884-db2ivetbth8t1fsdafa4pm56gaemk8g7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.569547596884-db2ivetbth8t1fsdafa4pm56gaemk8g7</string>
	<key>API_KEY</key>
	<string>AIzaSyAqo5Owg_vsCotwyAD67JrjDnifwr5fGcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>569547596884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saltsoft.soltalk</string>
	<key>PROJECT_ID</key>
	<string>sol-talk</string>
	<key>STORAGE_BUCKET</key>
	<string>sol-talk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569547596884:ios:2d6b43d4704db539f179c1</string>
</dict>
</plist>